body {
    text-align: center; 
    background-color: red;
  }
.content{
    background-color: greenyellow;
    width:600px;
    margin-left:auto;
    margin-right:auto;
}

#image1{
    float:right;
}
#image2{
    float:left ;
}
#image3{
    
}
#menu {
    background-color: greenyellow;
    width: 200px;
    height: 400px;
   
}

#ads {
    Background-color: white;
    width: 100px;
    height: 200px;
}

  h1 {
    text-align: center;
    color: black;
    text-align: center;
    font-size: 60px;
    text-decoration-line: underline;
  }
#ads {
    background-color: green;
    width: 20px;
    height: 500px;


}#menubar {
  background-color: green;
  width: 20px;
  height: 500px;

  h2 {
    text-decoration-line: underline;
  }
  h4 {
    float 
  }
  p {
    text-align: center;
    font-family: sans-serif;
    font-size: 17px;
  }


body